@model SV18T1021143.DomainModel.Shippers
<div class="box box-primary">
    <div class="box-header with-border header">
        <h3 class="box-title"></h3>

        <div class="box-tools pull-right">

        </div>

        <form class="form-horizontal" action="~/shipper/save" method="post">
            <input type="hidden" name="ShipperID" value="@Model.ShipperID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên người giao hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="ShipperName"  autofocus value="@Model.ShipperName">
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Phone" value="@Model.Phone">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save">Lưu dữ liệu </i>
                    </button>
                    <a class="btn btn-warning" href="~/shipper">
                        <i class="fa fa-ban">Quay lại</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


