@model SV18T1021143.DomainModel.Employee
@{
    ViewBag.Title = "Xóa nhân viên";
}

<div class="box box-primary">
    <div class="box-header with-border header">
        <h3 class="box-title"></h3>

        <div class="box-tools pull-right">

        </div>

        <form class="form-horizontal" action="~/employee/delete/@Model.EmployeeID" method="post">
          

            <div class="form-group">
                <label class="control-label col-sm-2">Họ:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.FirstName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.LastName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ngày Sinh:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.BirthDate</p>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ảnh:</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><img src="~/Themes/dist/img/photo1.png" style="width:250px; height:250px"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Chú ý:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Notes</p>
                </div>
            </div>





            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">123@gmail.com</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (SV18T1021143.BusinessLayer.ComomDataService.InUsedEmployee(Model.EmployeeID))
                    {
                        <p class="text-danger"> Không được xóa nhà cung cấp</p>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-remove"></i> Đồng ý xóa
                        </button>

                    }

                    <a class="btn btn-warning" href="~/employee">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>

                </div>
            </div>
            
        </form>
    </div>
</div>

